@import url("./global.css");
:root {
  --form__bg--1: #2c343e;
  --base_link__txt--2: #ffffff;
  --label__txt--3: #83888f;
  --tel__bg--4: #fefcf7;
  --button__bg--5: gray;
  --hover__txt--6: #66d2cf;
  --hover__txt--1: #fdd6ba;
}

:root {
  --tel__border--1: #ccc;
}

body {
  font-family: var(--barlow-font);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  form {
    max-width: 400px;
    width: 100%;
    border: 1px solid var(--tel__border--1);
    border-radius: 6px;
    padding: 30px;
    background-color: var(--form__bg--1);

    a {
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: var(--hover__txt--1);
      }
    }

    .base_link {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;
      font-weight: bolder;
      font-size: 1.7rem;
      font-family: var(--fraunces-font);
      color: var(--base_link__txt--2);
      img {
        width: 24px;
      }
    }

    label {
      display: block;
      margin-bottom: 10px;
      color: var(--label__txt--3);
      font-weight: 700;
      font-family: var(--barlow-font);
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      width: 100%;
      font-size: 14px;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid var(--tel__border--1);
      border-radius: 4px;
      background-color: var(--tel__bg--4);
    }

    input[type="checkbox"] {
      margin-right: 5px;
    }

    button {
      background: var(--primary-btn);
      color: var(--body);
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 20px;

      &:hover {
        background-color: var(--primary-btn-hover);
      }
    }
    button:disabled {
      background-color: var(--button__bg--5);
      cursor: not-allowed;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--tel__bg--4);
  color: var(--label__txt--3);
  text-align: center;
  padding: 10px 0;
  font-family: var(--barlow-font);

  p,
  ul {
    display: inline-block;
    margin: 0;
  }

  .footer-list {
    padding: 0;
    list-style-type: none;
    margin-left: 20px;

    li {
      display: inline-block;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: var(--hover__txt--6);
        }
      }
    }
  }
}
