@import "./global.css";
:root {
  --hero__txt--1: #fefcf7;
  --how__bg--2: #2a3139;
  --how__txt--3: #83888f;
  --how__border__top--4: #fdd6ba;
  --how__border--5: #0e8784;
  --how__txt--6: #fdd6ba;
  --how__txt--7: #fefcf7;
  --how__txt--8: #fefcf7;
  --navs__border__bottom--9: rgba(131, 136, 143, 0.2);
  --navs__txt--10: #83888f;
  --navs__txt--11: #333d4b;
  --navs__txt--12: #0e8784;
  --accs__txt--13: rgb(93, 94, 97);
  --acc__txt--14: #333d4b;
  --acc__bg--15: #f4f1eb;
  --bottom__bg--16: #2c343e;
  --bottom__txt--17: #ffffff;
  --bottom__txt--18: white;
  --bottom__txt--19: #0e8784;
  --acc-card-hover: #fdd6ba;
}

.hero {
  min-height: 450px;
  background: url("../images/about/hero.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  color: var(--hero__txt--1);
  margin-top: 2rem;
}
.hero div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 2rem;
}
.hero h2 {
  font-family: var(--fraunces-font);
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: left;
}
.hero p {
  font-family: var(--barlow-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.how {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.how .inner-container {
  background-color: var(--how__bg--2);
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  gap: 5rem;
  padding: 6rem 2rem 6rem 4rem;
  border-radius: 10px;
}
.how .title {
  color: var(--how__txt--3);
  font-family: var(--fraunces-font);
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.how .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.how .cards .card {
  position: relative;
  padding: 5rem 3rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.how .cards .card:nth-child(1) {
  border-top: 2px solid var(--how__border__top--4);
}
.how .cards .card:nth-child(2) {
  border-top: 2px solid var(--how__border__top--4);
}
.how .cards .card::before {
  content: "";
  width: 31px;
  height: 31px;
  border: 2px solid var(--how__border--5);
  position: absolute;
  top: -17px;
  left: -17px;
  border-radius: 100%;
}
.how .cards .card h3 {
  font-family: var(--fraunces-font);
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--how__txt--6);
}
.how .cards .card h4 {
  font-family: var(--fraunces-font);
  font-size: 29px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--how__txt--7);
}
.how .cards .card p {
  font-family: var(--barlow-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--how__txt--8);
}

.accords-container {
  padding: 6rem 4rem;
  display: grid;
  grid-template-columns: auto 2fr;
  gap: 4rem;
}
.accords-container .accs {
  height: 100%;
  padding: 1rem;
  display: grid;
  gap: 5rem;
}

.navs li {
  padding: 1.5rem 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid var(--navs__border__bottom--9);
  opacity: 0.5;
  transition: 0.2s;
}
.navs li:last-child {
  border-color: transparent;
}
.navs li:hover {
  opacity: 0.7;
}
.navs li .number {
  font-family: var(--fraunces-font);
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--navs__txt--10);
}
.navs li .text {
  font-family: var(--fraunces-font);
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--navs__txt--11);
}
.navs li.active {
  opacity: 1;
}
.navs li.active .number {
  color: var(--navs__txt--12);
}

.accs .acc h3 {
  font-family: var(--fraunces-font);
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--accs__txt--13);
  opacity: 0.6;
  transition: 0.2s all;
}

.acc {
  display: flex;
  gap: 2rem;
  justify-content: start;
  flex-direction: column;
}
.acc h3:hover {
  opacity: 0.8;
}
.acc .dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.acc .dropdown img {
  width: 19px;
  transition: 0.2s all;
}
.acc .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.acc .card {
  padding: 2rem;
  padding-bottom: 5rem;
  border-radius: 10px;
  color: var(--acc__txt--14);
  background: var(--acc__bg--15);
  display: grid;
  gap: 1rem;
  cursor: pointer;
  transition: 0.2s all;
}
.acc .card:hover {
  background-color: var(--acc-card-hover);
}
.acc .card h4 {
  font-family: var(--fraunces-font);
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.acc .card p {
  font-family: var(--barlow-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}
.acc .card.green {
  background-color: var(--navs__txt--12);
  color: var(--acc__bg--15);
}

.hidden {
  display: none;
}

.bottom {
  display: flex;
  margin-top: 4rem;
  gap: 2rem;
  flex-direction: column;
  align-items: end;
}
.bottom div {
  background: var(--bottom__bg--16);
  padding: 2rem 4rem;
  border-radius: 10px;
  display: grid;
  gap: 1rem;
}
.bottom p {
  font-family: var(--barlow-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--bottom__txt--17);
  opacity: 0.5;
  text-transform: uppercase;
}
.bottom h3 {
  font-family: var(--fraunces-font);
  font-size: 24px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--bottom__txt--18);
}
.bottom h3 .green {
  color: var(--bottom__txt--19);
}

.action {
  width: -moz-fit-content;
  width: fit-content;
}

.rotate {
  rotate: 180deg;
}

@media (max-width: 900px) {
  .how {
    margin-top: 5rem;
  }
  .how .cards .card h4 {
    font-size: 28px;
  }
  .accords-container {
    padding: 6rem 0rem;
    display: block;
  }
  .accords-container .navs {
    display: none;
  }
  .accords-container .accs {
    padding: 0;
  }
  .accs .acc h3 {
    font-size: 24px;
  }
  .acc .cards {
    grid-template-columns: 1fr;
  }
  .acc .dropdown {
    gap: 10px;
  }
  .bottom {
    align-items: center;
  }
  .bottom div {
    padding: 2rem 1rem;
  }
}
@media (max-width: 600px) {
  .hero {
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 400px;
    background: url("../images/sub/hero-mobile.jpg");
    background-position: center;
    background-size: cover;
  }
  .hero h2 {
    font-size: 40px;
    text-align: center;
  }
  .hero div {
    width: 100%;
    align-items: center;
    gap: 10px;
  }
  .hero p {
    text-align: center;
  }
  .how {
    gap: 1rem;
    align-items: center;
    margin-bottom: 5rem;
  }
  .how .cards {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 3rem;
  }
  .how .cards .card {
    border: none !important;
    padding-left: 0;
    padding-right: 0;
  }
  .how .cards .card::before {
    display: none;
  }
  .how .cards .card h3 {
    text-align: center;
  }
  .how .cards .card p {
    text-align: center;
  }
  .how .cards .card h4 {
    text-align: center;
  }
  .how .title {
    text-align: center;
  }
  .how .inner-container {
    padding: 4rem 1rem;
    align-items: center;
  }
}/*# sourceMappingURL=subscribe.css.map */